<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     class="sidebar"
     th:fragment="sidebar_by_tab(activeTab)">
    <h4>JSocial</h4>
    <a href="/" th:classappend="${activeTab == 'home'} ? 'active' : ''">🏠 Головна</a>
    <a href="/search" th:classappend="${activeTab == 'search'} ? 'active' : ''">🔍 Пошук</a>
    <a sec:authorize="isAuthenticated()" href="/chats"
       th:classappend="${activeTab == 'chats'} ? 'active' : ''">💬 Чати</a>
    <a sec:authorize="isAuthenticated()" th:href="@{'/users/' + ${#authentication.name}}"
       th:classappend="${activeTab == 'profile'} ? 'active' : ''">👤 Профіль</a>
</div>

<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     class="sidebar"
     th:fragment="sidebar_by_username(username)">
    <h4>JSocial</h4>
    <a href="/">🏠 Головна</a>
    <a href="/search">🔍 Пошук</a>
    <a sec:authorize="isAuthenticated()" href="/chats"
       th:classappend="${activeTab == 'chats'} ? 'active' : ''">💬 Чати</a>
    <a sec:authorize="isAuthenticated()" th:href="@{'/users/' + ${#authentication.name}}"
       th:classappend="${#authentication.name == username} ? 'active' : ''">👤 Профіль</a>
</div>

<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     class="sidebar"
     th:fragment="sidebar_plain">
    <h4>JSocial</h4>
    <a href="/">🏠 Головна</a>
    <a href="/search">🔍 Пошук</a>
    <a sec:authorize="isAuthenticated()" href="/chats"
       th:classappend="${activeTab == 'chats'} ? 'active' : ''">💬 Чати</a>
    <a sec:authorize="isAuthenticated()" th:href="@{'/users/' + ${#authentication.name}}">👤 Профіль</a>
</div>